<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div>
        环境搭建

    </div>


    <div>
        CSS 收藏
    </div>

    <div>
        Jquery收藏
    </div>


    <div>
        PHP手册
    </div>

    <div>
        工具
    </div>


    <div>
        <span>
              社区
        </span>


        <a class="btn btn-default btn-large" href="https://segmentfault.com/">segmentfault</a>

    </div>


</div>


</body>
</html>