<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改博文</title>
</head>
<body>
<div class="container">
    <form action="{:U('Blog/saveBlog')}" method="post">
        <input type="hidden" value="{$article.id}" id="id">
        <label for="title">
            文章标题:
        </label>
        <input type="text" name="title" id="title" value="{$article.title}"/>
        <label for="article-type">博文类型</label>
        <select id="article-type" name="type">
            <foreach name="type" item="t">
                <option value="{$t.id}">{$t.name}</option>
            </foreach>

        </select>
        <textarea id="content" name="content" value="{$article.content}">
        </textarea>
        <input class="btn btn-success pull-right" type="submit" value="提交"/>
    </form>


</div>
<script src="//cdn.bootcss.com/jquery/3.0.0-beta1/jquery.js" ></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">

    $(function () {
        window.UEDITOR_HOME_URL = '__PUBLIC__/ueditor/';
        window.onload = function () {
            window.UEDITOR_CONFIG.initialFrameHeight = 300;//编辑器的高度
            ue = UE.getEditor('content');
            //判断ueditor 编辑器是否创建成功
            ue.addListener("ready", function () {
                // editor准备好之后才可以使用
                ue.setContent('{$article.content}');
            });
        }
    });

</script>
</body>
</html>